<ion-header>
  <ion-toolbar>
    <ion-title>
      Donald Duck
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
      <ion-card-subtitle>{{cardContent.subtitle}}</ion-card-subtitle>
        <ion-card-title>{{cardContent.title}}</ion-card-title>
      </ion-card-header>
      <ion-img src="{{cardContent.image}}"></ion-img>
      <ion-card-content>
        {{cardContent.content}}
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
        <ion-card-subtitle>{{cardContent01.subtitle}}</ion-card-subtitle>
          <ion-card-title>{{cardContent01.title}}</ion-card-title>
        </ion-card-header>
        <ion-img src="{{cardContent01.image}}"></ion-img>
        <ion-card-content>
          {{cardContent01.content}}
        </ion-card-content>
      </ion-card>
</ion-content>
