<ion-header>
  <ion-toolbar>
    <ion-title>
      Donald Duck
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let card of cardContent">
      <ion-card>
          <ion-card-header>
          <ion-card-subtitle>{{card.subtitle}}</ion-card-subtitle>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-img src=""></ion-img>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
    </div>

    <ion-card>
      <ion-card-header>
      <ion-card-subtitle>{{cardContent[0].subtitle}}</ion-card-subtitle>
        <ion-card-title>{{cardContent[0].title}}</ion-card-title>
      </ion-card-header>
      <ion-img src="{{cardContent[0].image}}"></ion-img>
      <ion-card-content>
        {{cardContent[0].content}}
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
        <ion-card-subtitle>{{cardContent[1].subtitle}}</ion-card-subtitle>
          <ion-card-title>{{cardContent[1].title}}</ion-card-title>
        </ion-card-header>
        <ion-img src="{{cardContent[1].image}}"></ion-img>
        <ion-card-content>
          {{cardContent[1].content}}
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
        <ion-card-subtitle>{{cardContent[2].subtitle}}</ion-card-subtitle>
          <ion-card-title>{{cardContent[2].title}}</ion-card-title>
        </ion-card-header>
        <ion-img src="{{cardContent[2].image}}"></ion-img>
        <ion-card-content>
          {{cardContent[2].content}}
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
        <ion-card-subtitle>{{cardContent[3].subtitle}}</ion-card-subtitle>
          <ion-card-title>{{cardContent[3].title}}</ion-card-title>
        </ion-card-header>
        <ion-img src="{{cardContent[3].image}}"></ion-img>
        <ion-card-content>
          {{cardContent[3].content}}
        </ion-card-content>
      </ion-card>
</ion-content>
